@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Paleta ComplejoSport */
  --cs-header: #3B4F38;
  --cs-accent: #ACC2AB;
  --cs-fondo: #D7E6D3;
  --cs-card: #7FB584;
  --cs-dark: #061F03;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
